body{
    margin:0;
    padding: 0;;
}

header ul{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
li{
    flex:1 1 10%;
}
#article{
    padding: 2em;
    font-size: 15vh;
    background-color: silver;
    text-align: center;

}
